.checkButton {
  position: absolute;
  right: 10px;
  bottom: 10px;

  width: min-content;
  /* width: 500px; */

  background-color: white;

  padding: 10px;

  border-radius: 7px;
  border: 5px solid rgb(33, 84, 151);

  text-align: center;
  font-weight: bold;
  white-space: nowrap;
  font-size: 24px;
  letter-spacing: 1px;

  transition: background-color 0.3s, color 0.3s;

  user-select: none;
}
.checkButton.open {
  transition: opacity 1s ease-in;
  opacity: 1;
  z-index: 100;
}
.checkButton.close {
  opacity: 0;
  z-index: -1;
}
.checkButton.hide {
  transition: opacity 1s ease-in;
  opacity: 0;
}
.checkButton:hover {
  color: white;
  background-color: rgb(19, 58, 110);
}
